#body
{
    width: 100%;
}
#tieude{
    font-size: 30px;
    color: blue;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
#data{
    font-size: 30px;
    color: rgb(243, 3, 3);
    margin-top: 30px;
    margin-bottom: 10px;
}
#title1
{
    border: 1px solid black;
    width: 800px;
    height: 90px;
    text-align: center;
    color: blue;
    font-size: 25px;
    position: absolute;
    left: 290px;
    top: 10px;
    float: left;
}
img {
    max-width:200px;
    max-height:80px;
    width: auto;
    height: auto;
    float: left;
}

#Btn_Bool{
    margin-left: 40px;
    margin-top: 80px;
}
#Btn_Bool button{
    margin-left: 50px;
    width: 100px;
    height: 80px;
}

#Btn_Mode, #Btn_StartStop, #Btn_Glight, #Btn_Heating,#Btn_Pump,#Btn_Fan{
    height: 100%;
    width: 100%;
    padding: 20px;

}

.grid-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    
    text-align: center;
}
.grid-container-controls {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 50px;
}
.item-columns {
    border: 3px solid rgba(47, 24, 179, 0.8);
    margin: auto;
    height: 270px;
    width: 80%;
}
.grid-container-mode {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
}
